@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default;
}

body {
    font-family: Charter, serif;
}

@font-face {
    font-family: Charter;
    font-weight: normal;
    font-style: normal;
    src: url("../assets/charter_regular.woff2") format("woff2");
}

@font-face {
    font-family: Charter;
    font-weight: normal;
    font-style: italic;
    src: url("../assets/charter_italic.woff2") format("woff2");
}

@font-face {
    font-family: Charter;
    font-weight: bold;
    font-style: normal;
    src: url("../assets/charter_bold.woff2") format("woff2");
}

 @font-face {
    font-family: Charter;
    font-weight: bold;
    font-style: italic;
    src: url("../assets/charter_bold_italic.woff2") format("woff2");
}

.card {
    position: relative;
    z-index: 1;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(
    circle at 70% 80%,
    rgba(120,255,120,0.08),
    transparent 60%
    );
    pointer-events: none;
}

#tsparticles {
    position: fixed;
    inset: 0;
    z-index: 0;
}

.stripe-bg {
    background-color: #f6f6f6;
    background-image: repeating-linear-gradient(
        135deg,
        rgba(120, 120, 120, 0.12) 0px,
        rgba(120, 120, 120, 0.12) 1.5px,
        transparent 1.5px,
        transparent 30px
    );
}